<h1>New Receipt</h1>

<%= form_for @receipt do |f| %>
  <p>
    <%= f.label :store %><br>
    <%= f.text_field :store, placeholder: "Enter store name here" %>
  </p>

  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>

  <p>
    <%= f.submit "Create", :class => "btn btn-sm btn-success" %>
    <%= link_to "Cancel", receipts_path, class: "btn btn-sm btn-danger" =%>
  </p>
<% end %>
