<div class="panel-heading">
  <a href="<%=receipts_path %>" class="btn">Back</a>
</div>

<h1 id="receipt_name"><%= @receipt.name %></h1>

<!-- Image -->
<%= render partial: 'image', locals: { receipt: @receipt } %>
<br/>

<%= render partial: 'form', locals: { receipt: @receipt, title: 'Edit', submit_text: 'Update' } %>
<%= render partial: 'upload', locals: { receipt: @receipt } %>

<%= render partial: 'delete', locals: { receipt: @receipt} %>